/* Стилі для контейнера форми */
.login-form-container {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: white;
    padding: 10px;
}

/* Стилі для заголовка форми */
.login-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Стилі для полів вводу */
.login-form-container input[type="text"],
.login-form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Стилі для кнопки відправки форми */
.login-form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Стилі для посилання "Забули пароль?" */
.login-form-container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #666;
    text-decoration: none;
}

/* Стилі для повідомлення про помилку */
.login-form-container .error-message {
    color: #ff0000;
    margin-bottom: 10px;
}